<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="error404 mt-5">
            <h1 class="error404-h1">404 - Oops! You're off the map 🗺️</h1>
            <p class="error404-p">It seems like you've wandered into uncharted territory.</p>

            <p class="error404-p">Don't worry, we've got plenty of amazing places for you to explore!</p>
            <div>
                <a href="/" class="btn error404-btn">Take Me Home</a>
            </div>
        </div>
    </body>